In [45]:
import numpy as np
import pandas as pd
import nltk

In [46]:
df_sms = pd.read_csv('spam.csv',encoding = 'latin_1')
df_sms.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [47]:
# Cleaning the data
df_sms = df_sms.drop(["Unnamed: 2", "Unnamed: 3", "Unnamed: 4"], axis = 1)
df_sms = df_sms.rename(columns = {"v1" : "label", "v2" : "mail"})
df_sms.head()

  label                                               mail
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [48]:
df_sms['label'].replace('ham', 0, inplace = True)
df_sms['label'].replace('spam', 1, inplace = True)
df_sms.head()

   label                                               mail
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

In [49]:
data = df_sms.to_numpy()

In [50]:
data

array([[0,
        'Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...'],
       [0, 'Ok lar... Joking wif u oni...'],
       [1,
        "Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's"],
       ...,
       [0, 'Pity, * was in mood for that. So...any other suggestions?'],
       [0,
        "The guy did some bitching but I acted like i'd be interested in buying something else next week and he gave it to us for free"],
       [0, 'Rofl. Its true to its name']], dtype=object)

In [51]:
X = data[:,1]
y = data[:,0]

In [52]:
# Tokenizing the sentence
from nltk.tokenize import RegexpTokenizer, word_tokenize
tk = RegexpTokenizer('\w+')
def word_tk(text):
    tokens = tk.tokenize(text)
    return tokens

In [53]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to C:\Users\Ruthvik
[nltk_data]     Pawar\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [54]:
# Removing stopwords
from nltk.corpus import stopwords
sw = set(stopwords.words('english'))
def remove_stopwords(tokens):
    return [word for word in tokens if word not in sw]

In [55]:
# Stemming words
from nltk.stem import PorterStemmer
ps = PorterStemmer()
def stem_words(tokens):
    return [ps.stem(token) for token in tokens]

In [56]:
def text_processing(text):
    text = text.lower()
    tokens = word_tk(text)
    removed_stopwords = remove_stopwords(tokens)
    stemmed_words = stem_words(removed_stopwords)
    clean_text = ' '.join(stemmed_words)
    return clean_text

In [57]:
def clean_doc(X):
    ls = []
    for d in X:
        ls.append(text_processing(d))
    return ls

In [58]:
doc = clean_doc(X)

In [59]:
doc[:5]

['go jurong point crazi avail bugi n great world la e buffet cine got amor wat',
 'ok lar joke wif u oni',
 'free entri 2 wkli comp win fa cup final tkt 21st may 2005 text fa 87121 receiv entri question std txt rate c appli 08452810075over18',
 'u dun say earli hor u c alreadi say',
 'nah think goe usf live around though']

In [60]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
bag_of_words = cv.fit_transform(doc)

In [61]:
X = bag_of_words.toarray()

In [62]:
y = np.asarray(y, dtype = "int")

In [63]:
# Splitting the data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

Classifying the mail into spam or ham using Naive Bayes Classifier

In [64]:
from sklearn.naive_bayes import MultinomialNB
classifier = MultinomialNB()
classifier.fit(X_train, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [65]:
classifier.score(X_test, y_test)

0.9847533632286996